*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin: 30px 0;
    padding: 15px;
}

select,button{
    cursor: pointer;
    border: none;
    background-color: #000000;
    color: #ffffff;
    margin: 30px 0;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

button{
    background-color: rgb(16, 16, 123);
}
button:hover{
    background-color: rgb(6, 6, 181);
}
